.fondo {
    background-color: red;
}

.mitexto {
    font-size: 80px;
    color: green;
}
h3{
    font-size: 40px;
    background-color: rgb(15, 164, 197);
}
#titulo{
    font-size: 30px;
    font-size: 3em;
    border-radius: 15%;
}

.title{
  
    border: 2px solid blueviolet;
    width: fit-content;
    padding: 0px 1em 0px 1em ;
    border-radius: 15%;
}

#titulos{
    border: 3px solid black;
    /* un 65% mas pequeño*/
    width: 65vw;
    margin: auto;
    padding:4em ;

   }